{% extends 'logobase.html' %}
{% block branding %}

<nav>
    <ul>
        
    
		</table>		
           
            
            
            
            
            <table style="width:100%">
                <tr>
                    <td><a href="/TestDT" style="font-size: 18px">Home</a></td>
                
                    <td><a href="/TestDT/equipos" style="font-size: 18px">PCs de Equipos</a></td>
                    <td><a href="/TestDT/users" style="font-size: 18px">Users</a></td>
                    <td><a href="/TestDT/Model" style="font-size: 18px">Modelos</a></td>
                    <td><a href="/TestDT/NewModel" style="font-size: 18px">Nuevo Modelo</a></td>
                </tr>
            </table>
    </ul>
</nav>

{% endblock %}
<head>
    
</head>
  

{% block content %}
{% endblock %}
